body,html{
    /*background-color:lightgray;*/
    background-image: url("../images/random_grey_variations.png");
    color: white;
    font-family: 'Arimo', sans-serif;
}
.top-container{
    background-color: black;
    border: 20px solid yellow;
}
.quiz-container{
    margin-left: 400px;
}
.timer-header{
    color: red;
}
.question-group,.timer,.timer-header,.statement{
    font-size: 20px;
}
.result-screen{
    display: none;
    color: gray;
}
.top-row{
    padding: 20px;
    margin-top:80px;
}
.left-col{
    min-width: 100px;
    min-height: 100px;
    padding: 0px;
    border: 20px solid yellow;
}
.right-col{
    min-width: 200px;
    min-height: 200px;
}
.startbutton{
    width: 200px;
    height: 50px;
    margin-top:150px;
    border-radius: 15px;
}
/*.clickme{
    font-size: 18px;
    animation: bounceIn 2S;
}*/
img{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#submitButton{
    margin-top: 40px;
    border-radius: 15px;
    width: 200px;
    height: 50px;
}
.statement{
    margin-top: 20px;
}